<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>NOTICE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="tgt"></div>
<script type="text/x-template" id="tmpl-p_notice">
    <div class="l-p_notice">
        <div :class="'p_notice p_notice-'+current_lang + ' p_notice-'+current_title">
            <div class="p_notice-head">
                <h2 v-html="current_data.title" class="p_notice-title"></h2>
                <div class="p_notice-lang_select">
                    <select v-model="current_lang">
                        <option v-for="lang in current_lang_list" :value="lang.value">{{lang.label}}</option>
                    </select>
                </div>
            </div>
            <div class="p_notice-main">
                <div v-html="current_data.content" v-if="current_data.content"></div>
                <div v-else-if="current_data.disabled">取得できませんでした</div>
                <div class="loading" v-else>ローディングパーツいれる</div>
            </div>
        </div>
    </div>
</script>
<script src="js/superagent.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var request = window.superagent;
    (function(){
        Vue.component('p_notice', {
            props:{
                init_lang:{
                    type:String,
                    required:true
                },
                title:{
                    type:String
                }
            },
            data:function(){
                return {
                    current_lang:'',
                    title_data:[
                        {
                            title: 'hoge',
                            lang_list: [
                                {value:"ja",label:"日本語"},
                                {value:"en-us",label:"English(US)"},
                                {value:"en-gb",label:"English(UK)"},
                                {value:"fr",label:"Français"},
                                {value:"de",label:"Deutsch"},
                                {value:"it",label:"Italiano"},
                                {value:"es",label:"Español(ES)"},
                                {value:"es-mx",label:"Español(MX)"},
                                {value:"pt",label:"Português(PT)"},
                                {value:"pt-br",label:"Português(BR)"},
                                {value:"nl",label:"Nederlands"},
                                {value:"el",label:"Ελληνικά"},
                                {value:"ru",label:"Русский язык"},
                                {value:"sv",label:"Svenska"},
                                {value:"tr",label:"Türkçe"},
                                {value:"ar",label:"العربية"},
                                {value:"ko",label:"한국어"},
                                {value:"zh-cn",label:"简体中文"},
                                {value:"zh-tw",label:"繁體中文"}
                            ]
                        },
                        {
                            title: 'fuga',
                            lang_list: [
                                {value:"ja",label:"日本語"},
                                {value:"en-us",label:"English(US)"},
                                {value:"en-gb",label:"English(UK)"},
                                {value:"fr",label:"Français"},
                                {value:"de",label:"Deutsch"},
                                {value:"it",label:"Italiano"},
                                {value:"es",label:"Español(ES)"},
                                {value:"pt-br",label:"Português(BR)"},
                                {value:"ru",label:"Русский язык"},
                                {value:"tr",label:"Türkçe"},
                                {value:"ko",label:"한국어"},
                                {value:"zh-cn",label:"简体中文"},
                                {value:"zh-tw",label:"繁體中文"},
                                {value:"id",label:"Indonesian"}
                            ]
                        }
                    ],
                    data:{}
                };
            },
            computed:{
                current_data:function(){
                    return this.data[this.current_title][this.current_lang];
                },
                current_lang_list:function(){
                    return this.title_data.filter(function(data){
                        return data.title === this.title;
                    },this)[0].lang_list || [];
                },
                current_title:function(){
                    return this.title_data.filter(function(data){
                        return data.title === this.title;
                    },this)[0].title || this.title_data[0].title;
                }
            },
            created:function(){
                let that = this;
                // src の型をセット
                this.title_data.forEach(function(_data){
                    this.$set(this.data,_data.title,{});
                    _data.lang_list.forEach(function(lang){
                        this.$set(this.data[_data.title], lang.value,{});
                    },this);
                },this);
                // 初期言語をセット
                this.current_lang = this.getCurrentLang();

                console.log(this.current_data);
            },
            template:'#tmpl-p_notice',
            methods:{
                /* 存在しない言語の場合は、en-gb へ */
                getCurrentLang:function(){
                    let lang = this.init_lang || this.current_lang;
                    return this.data[this.current_title][lang] ? lang : 'en-gb';
                },
                /* ソース取得 */
                getSrc:function(){
                    let that = this;
                    if(Object.keys(this.data[this.current_title][this.current_lang]).length === 0 ){
                        request
                            .get('htmlsrc/'+this.current_title+'_'+this.current_lang+'.txt')
                            .set('Content-Type', 'text/plain;charset=utf-8')
                            .end(function(err, res){
                                that.data[that.current_title][that.current_lang] = that.getEmbetSrc(err ? '' : res.text, that.current_title,{current_lang:that.current_lang});
                                that.notifyUpdatedNoticeData();
                            });
                    }
                },
                /* 生HTMLソースから埋め込むタイトルと内容部分を抜き出す */
                getEmbetSrc: function(raw_html_src, title,op){
                    let ret_obj = {
                        disabled:false,
                        title:'',
                        content:''
                    };
                    let inner_body = raw_html_src.match(/<body>(.+)<\/body>/s);
                    if(!inner_body || inner_body.length === 1){
                        // ソースがない、もしくは該当部分がとれない
                        ret_obj.disabled = true;
                        return ret_obj;
                    }
                    let title_els,content_els,title_el,content_el,title_src,content_src;
                    let tmp_el = document.createElement('div');
                    tmp_el.innerHTML = inner_body[1];
                    if(title==='hoge'){
                        /* title 取得 */
                        title_els = tmp_el.getElementsByClassName('content-title');
                        title_el = title_els.length ? title_els[0] : null;
                        title_src = title_el ? title_el.innerHTML : '';
                        /* 内容 取得 */
                        content_els = tmp_el.getElementsByClassName('content-main');
                        content_el = content_els.length ? content_els[0] : null;
                        content_src = content_el ? content_el.innerHTML : '';
                    }else if(title==='fuga'){
                        /* title 取得 */
                        title_els = tmp_el.getElementsByTagName('section')[0].getElementsByTagName('h2');
                        title_el = title_els.length ? title_els[0] : null;
                        title_src = title_el ? title_el.innerHTML : '';

                        /* 内容 取得して、title_el をremove、document.writeのところ上書き、リンクURL調整 */
                        content_els = tmp_el.getElementsByTagName('section');
                        content_el = content_els.length ? content_els[0] : null;
                        if(content_el && title_el){
                            let page_url = 'https://hogehoge.com/'+title+'/'+op.current_lang+'/';
                            let own_url_el = content_el.getElementsByClassName('url');
                            let a_el = content_el.getElementsByTagName('a');
                            title_el.remove();
                            if(own_url_el.length){
                                own_url_el[0].innerHTML = page_url;
                            }
                            Array.prototype.forEach.call(a_el, function (a, index) {
                                a.href = page_url + a.getAttribute("href");
                                console.log(a);
                            });
                            content_src = content_el.innerHTML;
                        }
                    }
                    if(title_src && content_src){
                        ret_obj.title = title_el.innerHTML;
                        ret_obj.content = content_el.innerHTML;
                    }else{
                        // 該当部分がとれない
                        ret_obj.disabled = true;
                    }
                    return ret_obj;
                },
                /* Noticeの状態が講更新されたことを通知 */
                notifyUpdatedNoticeData:function(){
                    console.log('notifyIsDisabled');
                    this.$emit('updateNoticeStatus',this.current_data);
                }
            },
            watch:{
                current_lang:function(){
                    this.getSrc();
                },
                current_title:function(){
                    this.current_lang = this.getCurrentLang(this.init_lang);
                    this.getSrc();
                }
            }
        });
        new Vue({
            el:'#tgt',
            data:{
                lang:'en',
                title:'fuga'
            },
            template:'<p_notice :init_lang="lang" :title="title" @updateNoticeStatus="updateNoticeStatus"></p_notice>',
            methods:{
                /* Noticeの状態を更新する */
                updateNoticeStatus:function(p_notice_data){
                    // TODO:リセット＆disabled true のときはチェックできないようにする
                    console.log('updateNoticeStatus',p_notice_data);
                }
            }
        });
    })();
</script>
</body>
</html>